:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  background: url("assets/background.png") no-repeat center center/cover;
  box-sizing: border-box;
}

.container {
  height: 100%;
}

.navbar {
  display: flex;
  background: #21222A;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-img{
  width: 50px;
}

.nav-item {
  display: flex;
  justify-content: start;
  color: #61DAFB;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
}

main {
  padding: 57px 20px;
}

.main-title {
  margin: 0;
  font-size: 45px;
  letter-spacing: -0.05em;
}

.main-facts {
  margin-top: 30px;
}

.main-facts > li {
  font-size: 18px;
  line-height: 19px;
  padding-block: 10px;
}

.main-facts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
  text-align: center;
}