:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;

  /* remove */
  /*padding: 30px;
  background-color: whitesmoke;*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

.navbar-logo img {
  height: 30px;
}

main {
  padding: 36px;
}

.navbar-logo {
  display: flex;
  gap: 7px;
  align-items: center;
}

.form {
  display: grid;
  grid-template: 60px 60px / 1fr 1fr;
  gap: 10px;
}

.form-input-block {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  padding: 10px 10px;
  text-indent: 5px;
}

.form-input:active,
.form-input:focus {
  outline-color: #A626D3;
}

.form-button {
  grid-template: 10px / 1fr;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 17px;
}

.meme {
  position: relative;
}


.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
          2px 2px 0 #000,
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          0 2px 0 #000,
          2px 0 0 #000,
          0 -2px 0 #000,
          -2px 0 0 #000,
          2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.meme-image {
  width: 100%;
  border-radius: 5px;
}

/* Sample test event listener*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 100%;
  border-radius: 10px;
  transition: filter .1s ease-in-out;
}

.container > img:hover {
  filter: brightness(50%);
}

.container > button {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid lightgray;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
}
